*.class
*.log
*.pyc
*.swp
*.swo
*~
*.tmp
*.temp
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
desktop.ini

.atom/
.build/
.buildlog/
.dart_tool/
.firebase/
.history
.idea/
.nyc_output/
.pnp/
.pub/
.pub-cache/
.svn/
.swiftpm/
.vscode/
migrate_working_dir/
node_modules/
tmp/

.flutter-plugins
.flutter-plugins-dependencies

/build/
/dist/
/coverage/
/android/app/debug
/android/app/profile
/android/app/release

**/doc/api/
**/ios/Flutter/.last_build_id

app.*.symbols
app.*.map.json

lib/config/api_keys.dart

.env
.env.local
.env.*.local

.firebaserc
docs/.vuepress/dist/
