Artur O. de Santana <artur.santana.dev@gmail.com> <artur.santana@MacBook-Pro-de-Artur.local>
Artur O. de Santana <artur.santana.dev@gmail.com> <artur.santana@dhcp-9-16-137-207.btu-br.ibm.com>
Artur O. de Santana <artur.santana.dev@gmail.com> <artur.santana@dhcp-9-16-149-104.btu-br.ibm.com>
Artur O. de Santana <artur.santana.dev@gmail.com> <artur.santana@dhcp-9-16-141-30.btu-br.ibm.com>
Artur O. de Santana <artur.santana.dev@gmail.com> <lab3134@etecjk.local>
Artur O. de Santana <artur.santana.dev@gmail.com> artur.santana <artur.santana.dev@gmail.com>