
/// COMO OBTER AS KEYS:
- OpenTripMap: https://opentripmap.io/product
- Geoapify: https://www.geoapify.com/get-started-with-maps-api
class ApiKeys {
  // OpenTripMap - Pontos Turísticos
  static const String openTripMap = 'COLE_SUA_KEY_AQUI';
  
  // Foursquare - Restaurantes e Locais
  static const String foursquare = 'COLE_SUA_KEY_AQUI';
  
  // Geoapify - Rotas e Mapas
  static const String geoapify = 'COLE_SUA_KEY_AQUI';
}